@use "../fonts.scss";
@include fonts.load("..");

body {
  margin: auto;
  max-width: min(100%, 800px);
  padding-bottom: 50vh;
}

h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}

img {
  width: 100%;
  margin: 20px 0;
  border: 1px solid oklch(0.7 0 0);
}

p.warning {
  padding: 10px;
  background-color: oklch(0.98 0.1 110);
  border: 1px solid oklch(0.85 0.5 110);
  border-radius: 10px;

  &::before {
    content: "⚠️ ";
  }
}
