#a1 {
  left: 117.197px;
  top: 330.014px;
  width: 190.803px;
  height: 23.81px;
}
#a2 {
  left: 117.197px;
  top: 355.278px;
  width: 190.803px;
  height: 49.083px;
}
#a3 {
  left: 117.197px;
  top: 405.815px;
  width: 190.803px;
  height: 23.81px;
}
#a4 {
  left: 117.197px;
  top: 431.088px;
  width: 190.803px;
  height: 23.81px;
}
#a5 {
  left: 117.197px;
  top: 456.361px;
  width: 190.803px;
  height: 23.8px;
}
#a6 {
  left: 117.197px;
  top: 481.625px;
  width: 190.803px;
  height: 23.8px;
}
#b1 {
  left: 309.454px;
  top: 330.014px;
  width: 114.717px;
  height: 604.931px;
}
#c1 {
  left: 501.131px;
  top: 330.014px;
  width: 252.95px;
  height: 23.81px;
}
#c2 {
  left: 501.131px;
  top: 355.278px;
  width: 252.95px;
  height: 23.81px;
}
#c3 {
  left: 501.131px;
  top: 380.542px;
  width: 252.95px;
  height: 23.819px;
}
#c4 {
  left: 501.131px;
  top: 405.805px;
  width: 252.95px;
  height: 23.819px;
}
#c5 {
  left: 501.131px;
  top: 431.078px;
  width: 252.95px;
  height: 23.81px;
}
#c6 {
  left: 501.131px;
  top: 456.342px;
  width: 252.95px;
  height: 23.81px;
}
#c7 {
  left: 501.131px;
  top: 481.606px;
  width: 252.95px;
  height: 23.819px;
}
#c8 {
  left: 501.131px;
  top: 506.879px;
  width: 252.95px;
  height: 23.81px;
}
#c9 {
  left: 501.131px;
  top: 532.143px;
  width: 252.95px;
  height: 23.81px;
}
#c10 {
  left: 501.131px;
  top: 557.406px;
  width: 252.95px;
  height: 23.81px;
}
#c11 {
  left: 501.131px;
  top: 582.67px;
  width: 252.95px;
  height: 23.81px;
}
#c12 {
  left: 501.131px;
  top: 607.952px;
  width: 252.95px;
  height: 23.8px;
}
#c13 {
  left: 501.131px;
  top: 633.216px;
  width: 252.95px;
  height: 23.791px;
}
#d1 {
  left: 755.534px;
  top: 330.014px;
  width: 114.717px;
  height: 604.931px;
}
#e1 {
  left: 947.211px;
  top: 330.014px;
  width: 216.361px;
  height: 99.61px;
}
#e2 {
  left: 947.211px;
  top: 431.078px;
  width: 216.361px;
  height: 23.81px;
}
#e3 {
  left: 947.211px;
  top: 456.342px;
  width: 216.361px;
  height: 23.81px;
}
#e4 {
  left: 947.211px;
  top: 481.615px;
  width: 216.361px;
  height: 23.8px;
}
#f1 {
  left: 1165.03px;
  top: 330.014px;
  width: 162.337px;
  height: 99.61px;
}
#f2 {
  left: 1165.03px;
  top: 431.078px;
  width: 162.337px;
  height: 23.81px;
}
#f3 {
  left: 1165.03px;
  top: 456.342px;
  width: 162.337px;
  height: 23.81px;
}
#f4 {
  left: 1165.03px;
  top: 481.606px;
  width: 162.337px;
  height: 23.819px;
}
#f5 {
  left: 1165.03px;
  top: 506.879px;
  width: 162.337px;
  height: 23.819px;
}
#h1 {
  left: 1479.84px;
  top: 330.014px;
  width: 174.537px;
  height: 150.138px;
}
#h2 {
  left: 1479.84px;
  top: 481.606px;
  width: 174.537px;
  height: 49.083px;
}
#h3 {
  left: 1479.84px;
  top: 532.143px;
  width: 174.537px;
  height: 99.61px;
}
#b {
  left: 309.454px;
  top: 977.055px;
  width: 114.717px;
  height: 40px;
}
#d {
  left: 755.534px;
  top: 977.055px;
  width: 114.717px;
  height: 40px;
}
#f {
  left: 1165.03px;
  top: 977.055px;
  width: 162.337px;
  height: 40px;
}
#h {
  left: 1479.84px;
  top: 977.055px;
  width: 174.537px;
  height: 40px;
}
#net {
  left: 1639.37px;
  top: 977.055px;
  width: 200px;
  height: 100px;
}
