#b1 {
  left: 442px;
  top: 875px;
  width: 133px;
  height: 99px;
}

#b2 {
  left: 442px;
  top: 970px;
  width: 133px;
  height: 352px;
}

#d1 {
  left: 1001px;
  top: 875px;
  width: 133px;
  height: 447px;
}

#f1 {
  left: 1436px;
  top: 875px;
  width: 122px;
  height: 130px;
}

#f2 {
  left: 1436px;
  top: 1001px;
  width: 122px;
  height: 321px;
}

#h1 {
  left: 1769px;
  top: 874px;
  width: 133px;
  height: 162px;
}

#h2 {
  left: 1769px;
  top: 1033px;
  width: 133px;
  height: 289px;
}