body {
  font-family: sans-serif;
}

main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: grid;
  grid-template-columns: auto 40ch 30ch;
  grid-template-rows: auto 20ch;
}

main > * {
  overflow: scroll;
}

#requirements {
  grid-column: 1/2;
  grid-row: 1/3;
  position: relative;
}

#left-bar {
  grid-column: 2/3;
  grid-row: 1/3;
  border-left: 1px dashed black;
}

#right-bar {
  grid-column: 3/4;
  grid-row: 1/2;
  border-left: 1px dashed black;
}

#credit-sum {
  grid-column: 3/4;
  grid-row: 2/3;
  border-top: 1px dashed black;
  border-left: 1px dashed black;
}

#left-bar,
#right-bar,
#credit-sum {
  padding: 1em;
}

#right-bar > .separator {
  margin: 4ch 0;
  border-top: 1px dashed black;
}

#csv {
  margin-bottom: 2em;
}

.cell {
  position: absolute;
  box-sizing: border-box;
  border: 4px dashed rgba(0, 0, 255, 0.5);
  cursor: pointer;
}

.cell:hover {
  background-color: rgba(0, 0, 255, 0.2);
}

.cell.selected {
  background-color: rgba(0, 0, 255, 0.4);
}

.gage {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  background-color: rgba(0, 0, 255, 0.4);
}

.sum {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 75px;
}

.courses > p {
  display: none;
}
.courses > table {
  display: revert;
}

.courses.no-cell-selected > p,
.courses.contains-no-courses > p {
  display: revert;
}
.courses.no-cell-selected > table,
.courses.contains-no-courses > table {
  display: none;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
}

th {
  white-space: nowrap;
}

tbody > tr {
  cursor: grab;
  background-color: white;
}

.courses .course > .id-name,
.courses .course > .credit,
.courses .course > .term,
.courses .course > .when,
.courses .course > .expects {
  display: none;
}
.courses.show-id-name .course > .id-name,
.courses.show-credit .course > .credit,
.courses.show-term .course > .term,
.courses.show-when .course > .when,
.courses.show-expects .course > .expects {
  display: revert;
}
