body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: grid;
  grid-template-columns: auto 370px 370px;
  grid-template-rows: 1fr auto;
}

main.bars-hidden {
  grid-template-columns: auto 0 0;
}

#requirements {
  grid-column: 1/2;
  grid-row: 1/3;
  position: relative;
  overflow: scroll;
}

#title {
  position: absolute;
  left: 0;
  top: 0;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 20px;
  /* TODO: define colors in one place */
  background-color: oklch(98% 4% 350);
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: oklch(92% 10% 350);
  border-bottom-right-radius: 10px;
  padding: 10px 20px;
}

#title > .akiko {
  width: 60px;
  height: 60px;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid oklch(92% 10% 350);
  border-radius: 50%;
}

#title > .akiko > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#title strong {
  font-size: 1.2em;
}

#left-bar {
  grid-column: 2/3;
  grid-row: 1/2;
  border-left: 1px dashed black;
  overflow-y: scroll;
}

#right-bar {
  grid-column: 3/4;
  grid-row: 1/3;
  border-left: 1px dashed black;
  overflow-y: scroll;
  padding-top: 20px;
}

credit-sum-view {
  grid-column: 2/3;
  grid-row: 2/3;
  border-top: 1px dashed black;
  border-left: 1px dashed black;
}

#left-bar,
#right-bar,
credit-sum-view {
  padding-left: 1em;
  padding-right: 1em;
}

#right-bar > .separator {
  border-top: 1px dashed black;
}

.cell {
  --border-width: 3px;
  --green-percentage: 0%;
  --yellow-percentage: 0%;
  position: absolute;
  box-sizing: border-box;
  border: var(--border-width) dashed #888;
  cursor: pointer;
  mix-blend-mode: multiply;
}

.cell::before {
  content: "";
  display: block;
  position: absolute;
  inset: calc(-1 * var(--border-width));
  background: linear-gradient(
    90deg,
    rgba(51, 204, 51) 0%,
    rgba(51, 204, 51) var(--green-percentage),
    rgba(255, 204, 0) var(--green-percentage),
    rgba(255, 204, 0) var(--yellow-percentage),
    transparent var(--yellow-percentage),
    transparent 100%
  );
  opacity: 0.4;
}

.cell:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.cell.selected {
  outline: 6px solid #0066ff;
  outline-offset: 4px;
}

credit-sum-overlay > .column,
#net {
  --border-width: 2px;
  position: absolute;
  padding-right: 0.5ch;
  box-sizing: border-box;
  display: grid;
  justify-content: right;
  font-size: 1.2em;
  border-bottom: var(--border-width) dotted black;
}
credit-sum-overlay > .column {
  align-content: center;
}
#net {
  align-content: end;
  border-right: var(--border-width) dotted black;
}

.sum {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 75px;
}

.course-container > * {
  display: none;
}
.course-container > table {
  display: revert;
}

.course-container.contains-no-courses > * {
  display: none;
}
.course-container.contains-no-courses > .hint-when-contains-no-courses {
  display: revert;
}

.course-container.no-cell-selected > * {
  display: none;
}
.course-container.no-cell-selected > .hint-when-no-cells-selected {
  display: revert;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
  margin-bottom: 2rem; /* FIXME */
}

th {
  white-space: nowrap;
}

tbody > tr {
  background-color: white;
}

tbody > tr[draggable="true"] {
  cursor: grab;
}

.course-container .course > .id-name,
.course-container .course > .credit,
.course-container .course > .term,
.course-container .course > .when,
.course-container .course > .expects {
  display: none;
}
.course-container.show-id-name .course > .id-name,
.course-container.show-credit .course > .credit,
.course-container.show-term .course > .term,
.course-container.show-when .course > .when,
.course-container.show-expects .course > .expects {
  display: revert;
}

credit-sum-view > div > * {
  display: none;
}
credit-sum-view > div > ul {
  display: revert;
}

credit-sum-view.no-cell-selected > div > * {
  display: none;
}
credit-sum-view.no-cell-selected > div > p {
  display: revert;
}

#bars-toggle {
  position: absolute;
  margin: 0;
  padding: 0;
  border-radius: 0 0 0 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  background-color: white;
  border: unset;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

#bars-toggle:hover {
  background-color: #ddd;
}

input[name="student-type"]:checked + span {
  font-weight: bold;
}

nav {
  width: fit-content;
  margin: 0 auto;
}
nav a {
  display: flex;
  align-items: center;
  gap: 5px;
}

#control {
  margin-top: 30px;
  margin-bottom: 30px;
}
#control > * + * {
  margin-top: 10px;
}

#control .button {
  --fill: hsl(0, 0%, 92%);
  --outline: hsl(0, 0%, 85%);
  display: grid;
  place-content: center;
  place-items: center;
  gap: 10px;
  grid-template-columns: auto auto;
  width: 100%;
  height: 40px;
  background-color: var(--fill);
  border: 1px solid var(--outline);
  border-radius: 10px;
}
#control .button:hover {
  background-color: var(--outline);
}

#control > #import-grades-button {
  --fill: #e3ecfd;
  --outline: #b8cff9;
}
#csv {
  display: none;
}

#student-type-container {
  padding: 10px;
  background-color: hsl(0, 0%, 97%);
  border-radius: 10px;
}

#control > #reset {
  --fill: #fce3eb;
  --outline: #f9b8ce;
  height: 30px;
}
