#b1 {
  left: 426px;
  top: 435px;
  width: 267px;
  height: 151px;
}

#b2 {
  left: 426px;
  top: 588px;
  width: 267px;
  height: 228px;
}

#d1 {
  left: 997px;
  top: 434px;
  width: 269px;
  height: 267px;
}

#d2 {
  left: 997px;
  top: 703px;
  width: 269px;
  height: 152px;
}

#d3 {
  left: 997px;
  top: 856px;
  width: 269px;
  height: 152px;
}

#d4 {
  left: 997px;
  top: 1009px;
  width: 269px;
  height: 152px;
}

#f1 {
  left: 1497px;
  top: 434px;
  width: 227px;
  height: 152px;
}

#f2 {
  left: 1497px;
  top: 587px;
  width: 227px;
  height: 152px;
}

#h1 {
  left: 1831px;
  top: 434px;
  width: 227px;
  height: 152px;
}

#h2 {
  left: 1831px;
  top: 587px;
  width: 227px;
  height: 152px;
}

#b1-gage {
  height: 143px;
}

#b2-gage {
  height: 220px;
}

#d1-gage {
  height: 259px;
}

#d2-gage {
  height: 144px;
}

#d3-gage {
  height: 144px;
}

#d4-gage {
  height: 144px;
}

#f1-gage {
  height: 144px;
}

#f2-gage {
  height: 144px;
}

#h1-gage {
  height: 144px;
}

#h2-gage {
  height: 144px;
}

#b {
  left: 426px;
  top: 1476px;
  width: 267px;
  height: 43px;
}

#d {
  left: 997px;
  top: 1476px;
  width: 269px;
  height: 43px;
}

#f {
  left: 1497px;
  top: 1476px;
  width: 227px;
  height: 43px;
}

#h {
  left: 1831px;
  top: 1476px;
  width: 227px;
  height: 43px;
}
