#a1 {
  left: 126.66px;
  top: 380.808px;
  width: 244.884px;
  height: 132.798px;
}
#a2 {
  left: 126.66px;
  top: 515.069px;
  width: 244.884px;
  height: 132.798px;
}
#a3 {
  left: 126.66px;
  top: 649.33px;
  width: 244.884px;
  height: 65.672px;
}
#b1 {
  left: 373.007px;
  top: 380.808px;
  width: 234.081px;
  height: 132.798px;
}
#b2 {
  left: 373.007px;
  top: 515.069px;
  width: 234.081px;
  height: 199.933px;
}
#c1 {
  left: 608.551px;
  top: 380.808px;
  width: 263.563px;
  height: 32.105px;
}
#c2 {
  left: 608.551px;
  top: 414.375px;
  width: 263.563px;
  height: 32.105px;
}
#c3 {
  left: 608.551px;
  top: 447.943px;
  width: 263.563px;
  height: 32.105px;
}
#c4 {
  left: 608.551px;
  top: 481.501px;
  width: 263.563px;
  height: 32.105px;
}
#c5 {
  left: 608.551px;
  top: 515.069px;
  width: 263.563px;
  height: 32.105px;
}
#c6 {
  left: 608.551px;
  top: 548.637px;
  width: 263.563px;
  height: 32.105px;
}
#c7 {
  left: 608.551px;
  top: 582.204px;
  width: 263.563px;
  height: 32.105px;
}
#c8 {
  left: 608.551px;
  top: 615.772px;
  width: 263.563px;
  height: 32.095px;
}
#c9 {
  left: 608.551px;
  top: 649.34px;
  width: 263.563px;
  height: 32.086px;
}
#c10 {
  left: 608.551px;
  top: 682.907px;
  width: 263.563px;
  height: 32.095px;
}
#c11 {
  left: 608.551px;
  top: 716.485px;
  width: 263.563px;
  height: 32.076px;
}
#c12 {
  left: 608.551px;
  top: 750.043px;
  width: 263.563px;
  height: 32.076px;
}
#c13 {
  left: 608.551px;
  top: 783.61px;
  width: 263.563px;
  height: 32.067px;
}
#d1 {
  left: 873.577px;
  top: 380.808px;
  width: 234.955px;
  height: 233.501px;
}
#d2 {
  left: 873.577px;
  top: 615.762px;
  width: 234.955px;
  height: 132.808px;
}
#d3 {
  left: 873.577px;
  top: 750.024px;
  width: 234.955px;
  height: 132.808px;
}
#d4 {
  left: 873.577px;
  top: 884.295px;
  width: 234.955px;
  height: 132.798px;
}
#e1 {
  left: 1110px;
  top: 380.808px;
  width: 199.059px;
  height: 132.798px;
}
#e2 {
  left: 1110px;
  top: 515.069px;
  width: 199.059px;
  height: 32.105px;
}
#e3 {
  left: 1110px;
  top: 548.637px;
  width: 199.059px;
  height: 32.105px;
}
#e4 {
  left: 1110px;
  top: 582.204px;
  width: 199.059px;
  height: 32.095px;
}
#f1 {
  left: 1310.52px;
  top: 380.808px;
  width: 199.059px;
  height: 132.798px;
}
#f2 {
  left: 1310.52px;
  top: 515.069px;
  width: 199.059px;
  height: 132.798px;
}
#h1 {
  left: 1602.97px;
  top: 380.808px;
  width: 199.059px;
  height: 132.798px;
}
#h2 {
  left: 1602.97px;
  top: 515.069px;
  width: 199.059px;
  height: 132.798px;
}
#b {
  left: 373.007px;
  top: 1292.63px;
  width: 234.081px;
  height: 40px;
}
#d {
  left: 873.577px;
  top: 1292.63px;
  width: 234.955px;
  height: 40px;
}
#f {
  left: 1310.52px;
  top: 1292.63px;
  width: 199.059px;
  height: 40px;
}
#h {
  left: 1602.97px;
  top: 1292.63px;
  width: 199.059px;
  height: 40px;
}
#net {
  left: 1702.15px;
  top: 1292.63px;
  width: 200px;
  height: 100px;
}
