#a1 {
  left: 126.66px;
  top: 363.582px;
  width: 244.884px;
  height: 132.798px;
}
#a2 {
  left: 126.66px;
  top: 497.843px;
  width: 244.884px;
  height: 132.798px;
}
#a3 {
  left: 126.66px;
  top: 632.105px;
  width: 244.884px;
  height: 65.672px;
}
#b1 {
  left: 373.007px;
  top: 363.582px;
  width: 234.081px;
  height: 132.798px;
}
#b2 {
  left: 373.007px;
  top: 497.843px;
  width: 234.081px;
  height: 199.933px;
}
#c1 {
  left: 608.551px;
  top: 363.582px;
  width: 263.563px;
  height: 32.105px;
}
#c2 {
  left: 608.551px;
  top: 397.15px;
  width: 263.563px;
  height: 32.105px;
}
#c3 {
  left: 608.551px;
  top: 430.717px;
  width: 263.563px;
  height: 32.105px;
}
#c4 {
  left: 608.551px;
  top: 464.276px;
  width: 263.563px;
  height: 32.105px;
}
#c5 {
  left: 608.551px;
  top: 497.843px;
  width: 263.563px;
  height: 32.105px;
}
#c6 {
  left: 608.551px;
  top: 531.411px;
  width: 263.563px;
  height: 32.105px;
}
#c7 {
  left: 608.551px;
  top: 564.979px;
  width: 263.563px;
  height: 32.105px;
}
#c8 {
  left: 608.551px;
  top: 598.546px;
  width: 263.563px;
  height: 32.095px;
}
#c9 {
  left: 608.551px;
  top: 632.114px;
  width: 263.563px;
  height: 32.086px;
}
#c10 {
  left: 608.551px;
  top: 665.682px;
  width: 263.563px;
  height: 32.095px;
}
#c11 {
  left: 608.551px;
  top: 699.259px;
  width: 263.563px;
  height: 32.076px;
}
#c12 {
  left: 608.551px;
  top: 732.817px;
  width: 263.563px;
  height: 32.076px;
}
#c13 {
  left: 608.551px;
  top: 766.385px;
  width: 263.563px;
  height: 32.067px;
}
#d1 {
  left: 873.577px;
  top: 363.582px;
  width: 234.955px;
  height: 233.501px;
}
#d2 {
  left: 873.577px;
  top: 598.537px;
  width: 234.955px;
  height: 132.808px;
}
#d3 {
  left: 873.577px;
  top: 732.798px;
  width: 234.955px;
  height: 132.808px;
}
#d4 {
  left: 873.577px;
  top: 867.069px;
  width: 234.955px;
  height: 132.798px;
}
#e1 {
  left: 1110px;
  top: 363.582px;
  width: 199.059px;
  height: 132.798px;
}
#e2 {
  left: 1110px;
  top: 497.843px;
  width: 199.059px;
  height: 32.105px;
}
#e3 {
  left: 1110px;
  top: 531.411px;
  width: 199.059px;
  height: 32.105px;
}
#e4 {
  left: 1110px;
  top: 564.979px;
  width: 199.059px;
  height: 32.095px;
}
#f1 {
  left: 1310.52px;
  top: 363.582px;
  width: 199.059px;
  height: 132.798px;
}
#f2 {
  left: 1310.52px;
  top: 497.843px;
  width: 199.059px;
  height: 132.798px;
}
#h1 {
  left: 1602.97px;
  top: 363.582px;
  width: 199.059px;
  height: 132.798px;
}
#h2 {
  left: 1602.97px;
  top: 497.843px;
  width: 199.059px;
  height: 132.798px;
}
#b {
  left: 373.007px;
  top: 1275.4px;
  width: 234.081px;
  height: 40px;
}
#d {
  left: 873.577px;
  top: 1275.4px;
  width: 234.955px;
  height: 40px;
}
#f {
  left: 1310.52px;
  top: 1275.4px;
  width: 199.059px;
  height: 40px;
}
#h {
  left: 1602.97px;
  top: 1275.4px;
  width: 199.059px;
  height: 40px;
}
#net {
  left: 1702.15px;
  top: 1275.4px;
  width: 200px;
  height: 100px;
}
