@use "fonts.scss";

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

main {
  position: fixed;
  inset: 0;

  display: grid;
  grid-template-columns: auto 370px 370px;
  grid-template-rows: 1fr auto 85px;

  &.bars-hidden {
    grid-template-columns: auto 0 0;
  }
}

#requirements {
  grid-column: 1/2;
  grid-row: 1/3;
  position: relative;
  overflow: scroll;
}

#title {
  position: absolute;
  left: 0;
  top: 0;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 20px;
  /* TODO: define colors in one place */
  background-color: oklch(98% 4% 350);
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: oklch(92% 10% 350);
  border-bottom-right-radius: 10px;
  padding: 10px 20px;

  & > .akiko {
    width: 60px;
    height: 60px;
    background-color: hsl(0, 0%, 98%);
    border: 1px solid oklch(92% 10% 350);
    border-radius: 50%;
    overflow: hidden;
  }

  & > .akiko > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  & strong {
    font-size: 1.2em;
  }
}

#left-bar {
  grid-column: 2/3;
  grid-row: 1/2;
  border-left: 1px dashed black;
  overflow-y: scroll;
}

#right-bar {
  grid-column: 3/4;
  grid-row: 1/4;
  border-left: 1px dashed black;
  overflow-y: scroll;
  padding-top: 20px;
}

credit-sum-view {
  grid-column: 2/3;
  grid-row: 2/4;
  border-top: 1px dashed black;
  border-left: 1px dashed black;
}

#left-bar,
#right-bar,
credit-sum-view {
  padding-left: 1em;
  padding-right: 1em;
}

#right-bar > .separator {
  border-top: 1px dashed black;
}

.cell {
  --border-width: 3px;
  --green-percentage: 0%;
  --yellow-percentage: 0%;
  position: absolute;
  box-sizing: border-box;
  border: var(--border-width) dashed #888;
  cursor: pointer;
  mix-blend-mode: multiply;
}

.cell::before {
  content: "";
  display: block;
  position: absolute;
  inset: calc(-1 * var(--border-width));
  background: linear-gradient(
    90deg,
    rgba(51, 204, 51) 0%,
    rgba(51, 204, 51) var(--green-percentage),
    rgba(255, 204, 0) var(--green-percentage),
    rgba(255, 204, 0) var(--yellow-percentage),
    transparent var(--yellow-percentage),
    transparent 100%
  );
  opacity: 0.4;
}

.cell:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.cell.selected {
  outline: 6px solid #0066ff;
  outline-offset: 4px;
}

.course-container > * {
  display: none;
}
.course-container > table {
  display: revert;
}

.course-container.contains-no-courses > * {
  display: none;
}
.course-container.contains-no-courses > .hint-when-contains-no-courses {
  display: revert;
}

.course-container.no-cell-selected > * {
  display: none;
}
.course-container.no-cell-selected > .hint-when-no-cells-selected {
  display: revert;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
  margin-bottom: 2rem; /* FIXME */
}

th {
  white-space: nowrap;
}

tbody > tr {
  background-color: white;
}

tbody > tr[draggable="true"] {
  cursor: grab;
}

.course-container .course > .id-name,
.course-container .course > .credit,
.course-container .course > .term,
.course-container .course > .when,
.course-container .course > .expects {
  display: none;
}
.course-container.show-id-name .course > .id-name,
.course-container.show-credit .course > .credit,
.course-container.show-term .course > .term,
.course-container.show-when .course > .when,
.course-container.show-expects .course > .expects {
  display: revert;
}

credit-sum-view > div > * {
  display: none;
}
credit-sum-view > div > ul {
  display: revert;
}

credit-sum-view.no-cell-selected > div > * {
  display: none;
}
credit-sum-view.no-cell-selected > div > p {
  display: revert;
}

#bars-toggle {
  position: absolute;
  margin: 0;
  padding: 0;
  border-radius: 0 0 0 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  background-color: white;
  border: unset;
  border-left: 1px solid black;
  border-bottom: 1px solid black;

  &:hover {
    background-color: #ddd;
  }
}

input[name="student-type"]:checked + span {
  font-weight: bold;
}

nav {
  width: fit-content;
  margin: 0 auto;
}
nav a {
  display: flex;
  align-items: center;
  gap: 5px;
}

#control {
  margin-top: 30px;
  margin-bottom: 30px;
}
#control > * + * {
  margin-top: 10px;
}

#control .button {
  --fill: hsl(0, 0%, 92%);
  --outline: hsl(0, 0%, 85%);
  display: grid;
  place-content: center;
  place-items: center;
  gap: 10px;
  grid-template-columns: auto auto;
  width: 100%;
  height: 40px;
  background-color: var(--fill);
  border: 1px solid var(--outline);
  border-radius: 10px;

  &:hover {
    background-color: var(--outline);
  }
}

#control > #import-grades-button {
  --fill: #e3ecfd;
  --outline: #b8cff9;
}
#csv {
  display: none;
}

#student-type-container {
  padding: 10px;
  background-color: hsl(0, 0%, 97%);
  border-radius: 10px;
}

#control > #reset {
  --fill: #fce3eb;
  --outline: #f9b8ce;
  height: 30px;
}

#left-bar > search {
  margin-bottom: 30px;
  width: 100%;
  position: relative;

  & > div {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    display: grid;
    place-content: center;
  }

  & > input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 10px 5px 35px;
  }
}

#credit-sums-container {
  grid-column: 1/2;
  grid-row: 3/4;
  overflow: hidden;
  position: relative;
}

#column-credit-sums {
  position: relative;
  transform: translateX(var(--x, 0));
}

#column-credit-sums > div,
#overall-credit-sum {
  --green-percentage: 0%;
  --yellow-percentage: 0%;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 5px;
  height: 35px;
  display: grid;
  user-select: none;
  -webkit-user-select: none;

  $alpha: 0.4;
  background: linear-gradient(
    90deg,
    rgba(51, 204, 51, $alpha) 0%,
    rgba(51, 204, 51, $alpha) var(--green-percentage),
    rgba(255, 204, 0, $alpha) var(--green-percentage),
    rgba(255, 204, 0, $alpha) var(--yellow-percentage),
    transparent var(--yellow-percentage),
    transparent 100%
  );

  &[data-message-on-click]:not([data-message-on-click=""]):hover {
    background-color: rgba(0, 0, 0, 0.25);
  }

  & > img {
    position: absolute;
    left: 8px;
    top: 5.5px;
  }

  & > span {
    align-self: center;
    justify-self: right;
  }
}

#column-credit-sums > div {
  top: 5px;
}

#overall-credit-sum {
  right: 5px;
  bottom: 5px;
  width: 300px;
}
