@use "fonts.scss";
@include fonts.load(".");

body {
  max-width: 800px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50vh;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-top: 100px;
  margin-bottom: 30px;
}

section {
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 92%);
  padding: 20px 30px;
}

section + section {
  margin-top: 20px;
}

section > h3 {
  margin: 0;
  font-size: 20px;
}

section > ul > li.gap {
  margin-top: 10px;
}

.dialog {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  $icon-size: 70px;
  grid-template-columns: $icon-size auto;
  grid-template-rows: $icon-size auto;
  padding: 10px 20px;

  --fill-l: 98%;
  --fill-c: 4%;
  --outline-l: 92%;
  --outline-c: 10%;
  background-color: oklch(var(--fill-l) var(--fill-c) var(--h));
  border: 1px solid oklch(var(--outline-l) var(--outline-c) var(--h));
  border-radius: 20px;
}

.dialog + .dialog {
  margin-top: 10px;
}

.dialog.student {
  --h: 270;
}

.dialog.akiko {
  --h: 350;
}

.dialog > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid oklch(var(--outline-l) var(--outline-c) var(--h));
  border-radius: 50%;
}

.dialog > span:first-of-type {
  place-self: center;
  margin-top: 5px;
}

.dialog > span:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: center;
  margin-left: 30px;
}
